<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board | <%= title %> </title>
</head>
<body>
    <h1>Index Page</h1>
    <a href="/new">Create</a>
    <div class="messages">
        <% if(messages.length > 0) { %> 

            <% messages.forEach(message => { %>

                <div class="message">
                    <h3 class="user"><%= message.user %> </h3>
                    <p class="text"><%= message.text %> </p>
                    <p class="date"><%= message.date %> </p>
                </div>

            <% }) %>

        <% } else {%>
            <p>There are no messages to display!</p>
        <% } %> 
    </div>
</body>
</html>